#*#
*.orig
*~
.#*
\#*#

/Cargo.lock
/build/
/examples/qtdeclarative
/node_modules/
/package-lock.json
/queries/highlights-javascript.scm
/queries/highlights-typescript.scm
/target/

# Workaround for https://github.com/tree-sitter/tree-sitter/issues/730
/src/grammar.json
/src/node-types.json
/src/parser.c
/src/tree_sitter/parser.h
/src/typescript-scanner.h
