Cargo.lock
node_modules
build
*.log
package-lock.json
script/javaparser-test/target
test.java
/examples/elasticsearch
/examples/guava
/examples/RxJava
/target/
*.a
*.dylib
*.so
*.o
bindings/c/*.h
bindings/c/tree-sitter-*.pc
.build/
