[package]
name = "difftastic"
description = "A structural diff that understands syntax."
repository = "https://github.com/wilfred/difftastic"
homepage = "http://difftastic.wilfred.me.uk/"
license = "MIT"
version = "0.46.0"
authors = ["Wilfred Hughes <me@wilfred.me.uk>"]
keywords = ["diff", "syntax"]
categories = ["development-tools", "command-line-utilities", "parser-implementations"]
edition = "2018"
rust-version = "1.57.0"
include = [
        "/build.rs",
        "/src/",
        "/vendored_parsers/highlights/*.scm",
        "/vendored_parsers/*-src/**/*.c",
        "/vendored_parsers/*-src/**/*.h",
        "/vendored_parsers/*-src/**/*.cc",
        "/LICENSE",
        "/README.md",
]

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/{ version }/difft-{ target }.{ archive-format }"

[package.metadata.binstall.overrides.x86_64-pc-windows-msvc]
pkg-fmt = "zip"

[dependencies]
regex = "1.5.4"
clap = { version = "3.1.8", features = ["cargo", "env", "wrap_help"] }
itertools = "0.10.1"
typed-arena = "2.0.1"
rustc-hash = "1.1.0"
strsim = "0.10.0"
lazy_static = "1.4.0"
tree-sitter = "0.20.9"
libc = "0.2.108"
log = "0.4.14"
pretty_env_logger = "0.4.0"
mimalloc = { version = "0.1.28", default-features = false }
# Pin libmimalloc-sys due to 0.1.25 producing a huge slowdown in very
# large textual files, as discussed in #297.
libmimalloc-sys = "=0.1.24"
radix-heap = "0.4.2"
walkdir = "2.3.2"
const_format = "0.2.22"
owo-colors = "3.3.0"
wu-diff = "0.1.2"
rayon = "1.6.1"
tree_magic_mini = "3.0.2"
bumpalo = "3.11.1"
unicode-width = "0.1.9"
crossterm = { version = "0.25.0", features = [] }

[dev-dependencies]
# This is the last version of assert_cmd that supports rustc 1.57.
assert_cmd = ">= 2, <= 2.0.5"
# Predicates is a dependency of assert_cmd, but needs pinning to the
# last version that supports rustc 1.57.
predicates = ">= 2, <= 2.1.1"

pretty_assertions = "1.2.1"

[build-dependencies]
cc = "1.0.78"
rayon = "1.5.2"
version_check = "0.9.4"

[profile.release]
lto = "thin"

[[bin]]
name = "difft"
path = "src/main.rs"

[features]

[patch.crates-io]
# https://github.com/mbrubeck/tree_magic/pull/13 hasn't been merged yet.
tree_magic_mini = { git = 'https://github.com/Wilfred/tree_magic', branch = 'fix-panic-for-empty-strings' }
