# SPDX-FileCopyrightText: 2022 None
#
# SPDX-License-Identifier: CC0-1.0

[package]
name = "tree-sitter-nim"
description = "nim grammar for the tree-sitter parsing library"
version = "0.2.0"
keywords = ["incremental", "parsing", "nim"]
categories = ["parsing", "text-editors"]
repository = "https://github.com/tree-sitter/tree-sitter-nim"
edition = "2018"
license = "MPL-2.0"

build = "bindings/rust/build.rs"
include = ["bindings/rust/*", "grammar.js", "queries/*", "src/*"]

[lib]
path = "bindings/rust/lib.rs"

[dependencies]
tree-sitter = "~0.20"

[build-dependencies]
cc = "1.0"
