[package]
name = "tree-sitter-go"
description = "Go grammar for tree-sitter"
version = "0.20.0"
authors = [
	"Max Brunsfeld <maxbrunsfeld@gmail.com>",
	"Douglas Creager <dcreager@dcreager.net>",
]
license = "MIT"
readme = "bindings/rust/README.md"
keywords = ["incremental", "parsing", "go"]
categories = ["parsing", "text-editors"]
repository = "https://github.com/tree-sitter/tree-sitter-go"
edition = "2018"
autoexamples = false

build = "bindings/rust/build.rs"
include = ["bindings/rust/*", "grammar.js", "queries/*", "src/*"]

[lib]
path = "bindings/rust/lib.rs"

[dependencies]
tree-sitter = ">= 0.20, < 0.21"

[build-dependencies]
cc = "1.0"
