[package]
name = "difftastic"
version = "0.1.0"
authors = ["Wilfred Hughes <me@wilfred.me.uk>"]
edition = "2018"

[dependencies]
regex = "1"
colored = "2.0"
diff = "0.1.11"
clap = "2.32"
itertools = "0.8.0"
term_size = "0.3"
typed-arena = "2.0.1"
toml = "0.5.8"
serde = "1.0.126"

[dev-dependencies]
pretty_assertions = "0.6.1"
