# Rust artifacts
Cargo.lock
target/

# Node artifacts
build/
prebuilds/
node_modules/

# Swift artifacts
.build/

# Python artifacts
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Examples
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o
