@import "tree-sitter-javascript/properties/highlights.css";

class > identifier, new_expression > call_expression > identifier {
  highlight: 'type';
}

jsx_opening_element,
jsx_closing_element,
jsx_self_closing_element,
call_expression {
  & > identifier[text='^[A-Z]'] {
    highlight: 'type';
  }
}

required_parameter, optional_parameter, rest_parameter {
  & > identifier {
    highlight: 'variable.parameter';
    local-definition: true;
  }
}

type_identifier,
predefined_type {
  highlight: 'type';
}

method_signature > property_identifier,
function_signature > identifier {
  highlight: 'function';
}

[token="implements"],
[token="namespace"],
[token="enum"],
[token="interface"],
[token="module"],
[token="declare"],
[token="public"],
[token="private"],
[token="protected"],
[token="readonly"],
[token="type"] {
  highlight: 'keyword';
}
