* text=auto eol=lf

test/** linguist-documentation

src/** linguist-generated
bindings/** linguist-generated

binding.gyp linguist-generated
setup.py linguist-generated
Makefile linguist-generated
Package.swift linguist-generated
