<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Diff: {{ display_path }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="ui grid container">
            <div class="column">

                <h1>{{ display_path }}</h1>

                <h2>Old</h2>
                <pre>
                    {%- for line in lhs_src -%}
                    {%- for part in line -%}
                    {{- part.0 -}}
                    {%- endfor -%}
                    {%- endfor -%}
                </pre>
                <h2>New</h2>

            </div>
        </div>
    </body>
</html>

