* text eol=lf

src/*.json linguist-generated
src/parser.c linguist-generated
src/tree_sitter/* linguist-generated

bindings/** linguist-vendored
binding.gyp linguist-vendored
setup.py linguist-vendored
Makefile linguist-vendored
Package.swift linguist-vendored
