name: build

on:
  push:
  pull_request:

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Display Node versions
        run: |
          node --version
          npm --version

      - name: Install dependencies
        run: npm install

      - name: Build and check generated files
        run: |
          npm run build
          script/check-generated-files

      - name: Test corpus & parse examples
        run: npm test
