name: CI

on:
  push:
    branches: ["*"]
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
      - binding.gyp
  pull_request:
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
      - binding.gyp

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    name: Test parser
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
    steps:
      - name: Set up the repo
        uses: tree-sitter/parser-setup-action@v1.1
        with:
          node-version: ${{vars.NODE_VERSION}}
      - name: Set up examples
        run: |-
          git clone https://github.com/numpy/numpy examples/numpy --depth=1 --filter=blob:none
          git clone https://github.com/django/django examples/django --depth=1 --filter=blob:none
          git clone https://github.com/pallets/flask examples/flask --depth=1 --filter=blob:none
          git clone https://github.com/python/cpython examples/cpython --depth=1 --filter=blob:none
      - name: Run tests
        uses: tree-sitter/parser-test-action@v1.1
        with:
          lint: true
          test-library: ${{runner.os == 'Linux'}}
          examples: |
            examples/**/*.py
            !examples/cpython/Lib/test/badsyntax_3131.py
            !examples/cpython/Lib/test/badsyntax_future8.py
            !examples/cpython/Lib/test/test_compile.py
            !examples/cpython/Lib/test/tokenizedata/badsyntax_3131.py
            !examples/cpython/Tools/build/generate_re_casefix.py
  fuzz:
    name: Fuzz parser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Check for scanner changes
        id: scanner-changes
        run: |-
          if git diff --quiet HEAD^ -- src/scanner.c; then
            printf 'changed=false\n' >> "$GITHUB_OUTPUT"
          else
            printf 'changed=true\n' >> "$GITHUB_OUTPUT"
          fi
      - name: Fuzz parser
        uses: tree-sitter/fuzz-action@v4
        if: steps.scanner-changes.outputs.changed == 'true'
