name: Build/test
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm install
      - run: npm test

  guile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm install
      - run: git clone https://git.sv.gnu.org/git/guile.git guile --depth 1 --branch v3.0.8
      - run: npx tree-sitter parse $(find ../guile -type f -not -path "*/module/language/elisp/*" -name "*.scm" -o -name "*.ss") -q

  sicp:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - run: npm install
      - name: Download sicp code
        run: |
          mkdir -p sicp && cd sicp
          curl https://mitpress.mit.edu/sites/default/files/sicp/code/allcode.tar.gz -O
          tar xvf allcode.tar.gz
      - run: npx tree-sitter parse sicp/*.scm -qt

